// This file defines global colors to be used over all scss styles in codebase.

// Common colors.
$main-background-color: #1f1f1f;
$shadow-color: unquote("#00000066");

// Menu colors.
$menu-circle-outline-color: unquote("#00000040");
$menu-circle-color: #d6d5d5;
$menu-circle-inline-color: unquote("#0000008a");

// Icons background & foreground color.
$icon-background-color: unquote("#1f1f1f99");
$icon-foreground-color: #585858;

// Typo color.
$typo-color: #989898;

// Footer color.
$footer-background-color: #151515;
