// This file defines global colors to be used over all scss styles in codebase.

// Common colors.
$main-background-color: #1f1f1f;
$main-background-color-light: #faf9fa;

// Menu color.
$menu-circle-color: #d6d5d5;

// background colors.
$border-foreground-color: #585858;

// Typo color.
$typo-color: #989898;
$typo-color-light: #888888;
$typo-color-title: #797979;
$typo-color-title-light: #383838;
$typo-color-highlight-light: #484848;

// Footer color.
$footer-background-color: #151515;
$footer-background-color-light: white;
