$menu-size: 110px;
$menu-padding: 20px;

$menu-sticky-size: 46px;
$menu-sticky-padding: 3px;

// Defines animation for sticky menu translation.
@keyframes stickyAnimate {
  0% {
    transform: translateY(-$menu-sticky-size);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  .menu {
    z-index: $menu-sticky-index;

    // Performance issue, for more informations
    // @see https://aerotwist.com/blog/on-translate3d-and-layer-creation-hacks/
    transform: translate3d(0, 0, 0);

    position: relative;
    padding-bottom: $menu-padding;
    padding-top: $menu-padding;
    display: flex;
    justify-content: center;
    max-width: $S;
    margin: 0 auto;

    .title {
      display: flex;
      justify-content: center;
    }

    .nav {
      flex: 1;
      display: flex;
      justify-content: center;
      align-self: center;
      align-items: center;
      font-weight: 600;
      overflow: hidden;
      transition: color $toggle-style-time-ease;

      .main--light & {
        color: $typo-color-title-light;
      }
    }

    a.logo {
      text-decoration: none;

      .main--light & {
        color: $typo-color-title-light;
      }
    }

    h1 {
      p {
        margin: 0;
      }

      margin: 0;
      position: relative;
      font-family: "Roboto Condensed";
      font-weight: 600;
      font-size: 40px;
      line-height: 35px;
      color: white;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: border-color, color $toggle-style-time-ease;

      span {
        // Defines span as block in order to make a new line for two words of
        // logo.
        display: block;

        &.topV {
          margin-left: 3px;
        }
        &.botV {
          margin-left: -3px;
        }
      }

      .main--light & {
        color: $typo-color-title-light;
      }
    }

    &.sticky {
      position: fixed;
      padding: $menu-sticky-padding;
      top: 0;
      left: 0;
      right: 0;
      background-color: $main-background-color;
      display: flex;
      animation: stickyAnimate 0.3s ease-out;
      justify-content: flex-start;
      max-width: none;
      transition: background-color $toggle-style-time-ease;
      height: auto;

      .nav {
        flex: none;
        margin-left: 10px;
      }

      h1 {
        width: $menu-sticky-size - 2 * $menu-sticky-padding;
        height: $menu-sticky-size - 2 * $menu-sticky-padding;
        font-size: 15px;
        line-height: 11px;
        border: none;
        box-shadow: none;
        border: 4px solid $menu-circle-color;
        flex: none;
        animation: none;
        transition: border-color $toggle-style-time-ease,
          color $toggle-style-time-ease;

        .main--light & {
          border-color: $typo-color-title-light;
        }
      }

      .toggleStyle {
        position: relative;
        margin: 0;
        width: 100%;
        align-self: center;
        align-items: center;
        display: flex;
        justify-content: flex-end;

        // This property is need for an iOS safari support (displaying correctly
        // the toggle moon/sun button).
        flex-grow: 1;
        margin-right: 7px;
      }

      .main--light & {
        background-color: $main-background-color-light;
      }
    }
  }

  .toggleStyle {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 11px;
  }
}

:export {
  menu-size: $menu-size;
  menu-padding: $menu-padding;
  menu-sticky-size: $menu-sticky-size;
  menu-sticky-padding: $menu-sticky-padding;
}
